commit_message.txt
node_modules/
.DS_Store
*.efu
geocoded_points.json
geocode.log
test_nom.json
test_nom_en.json
scratch/
__pycache__/

# Python virtual environment and packaging/build files
.venv/
*.egg-info/
.ipynb_checkpoints/
*.pyc

data/04_feature/mountain_summit_candidate_links/2026-06-07-v3/
data/08_reporting/mountain_summit_candidate_review/2026-06-07-v3/
